
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" async>


function checkUnique1() {
  var ok = true;
  socket.emit('eCheck', {email: document.getElementsByName("email")[0].value});
  socket.on('eValidateMessage', function(obj) {
    if(obj.message == false)
    {
      document.getElementsByName("email")[0].style.borderColor = "#E34234";
      document.getElementById("emailExist").innerHTML = "Email has not been registered";
      document.getElementById("emailExist").style.color = "#E34234";
      ok = false;
    }
  });
  return ok;
}

function check() {
  return false;
}

function emailRSet() {
  document.getElementsByName("email")[0].style.borderColor = null;
  document.getElementById("emailExist").innerHTML = "";
}
</script>
<!-- <script type="text/javascript">
  $("#test").pinned({
    bounds: 100,
    scrolling: 0,
    mobile: false
  });
</script> -->

<div class="container">
<form class="form-horizontal" action="/test1"  method="post" id="submitBet">
  <div class="form-group">
    <label class="control-label col-sm-4"><h1>Creators Space</h1></label>
    <div class="col-sm-8">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2"></label>
    <div class="col-sm-10">
        <label class="control-label">Please enter the email registered with Creators Space</label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" name="email" onclick="emailRSet()" onkeypress="emailRSet()" placeholder="Enter email" required title="email (format: xx@xx.xx/xx@xx.xx.xx)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <span id="emailExist"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" id="bt_bet">Submit</button>
    </div>
  </div>
</form>
</div>


<script>
$(document).ready(function(){
$('#bt_bet').click(function(event){
  event.preventDefault();
        if (check()) {
            $("#submitBet").submit();
        }
});
});
</script>

<h1>jfdskljasdljfklsjafklsjafk</h1>

<h1>jfdskljasdljfklsjafklsjafk</h1>
<h1>jfdskljasdljfklsjafklsjafk</h1>
<h1>jfdskljasdljfklsjafklsjafk</h1>
<h1>jfdskljasdljfklsjafklsjafk</h1>
<h1>jfdskljasdljfklsjafklsjafk</h1>
<h1>jfdskljasdljfklsjafklsjafk</h1>


<div class="footPos">
  {{> footer }}
</div>
