
#manbod
{
/*
    background-image:linear-gradient(rgba(20, 15, 20, 0.3), rgba(5, 1, 1, 0.3)),url(./../public/img/PaperColorMaterialDesign_Orange.png);
    min-height: 730px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
*/
    background-color: whitesmoke;
    text-decoration: none;
}
/*
#overlap
{
     position: absolute;
    width: 100%;
    min-height: 730px;
    padding-left: 15%;
    padding-top: 20%;
    background-attachment: fixed;
    padding-bottom: 0;
    margin-bottom: 0;
}
*/
#comptit
{
    margin-top: 20px;
    color: #ff6600;
    font-size: 40px;

}
#comptit:after
{
    width: flex;
    height: 0.5px;
    background-color: #ff6600;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
}
#para1
{
    font-size: 20px;
    color: #00ace6;

}
#para2
{
    font-size: 20px;
    font-weight: 500;
    color: #00ace6;

}
#para3
{
    margin-top: 15px;
    font-size: 20px;
    color: #00ace6;

}
#para4
{
    font-size: 20px;
    font-weight: 500;
    color: #00ace6;
    margin-top: 15px;

}
#para4
{
    font-size: 20px;
    font-weight: 500;
    color: #00ace6;
    margin-top: 15px;

}
#para5
{
    font-size: 20px;
    color: #00ace6;
    margin-top: 15px;
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


/*
html{
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	min-height: 200px;
}
*/
