#home-section{
  background-image: linear-gradient(rgba(20, 15, 20, 0.6), rgba(5, 1, 1, 0.7)),url('./../public/img/home.jpg');
  min-height: 730px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-decoration: none;
}

#overlay{
  position: absolute;
  width: 100%;
  min-height: 730px;
  padding-left: 15%;
  padding-top: 20%;
  background-attachment: fixed;
  padding-bottom: 0;
  margin-bottom: 0;
}

#home-qoutes{
  margin-bottom: 2%;
}

#home-btn a{
  margin: 2px 6px;
  padding: 8px;
  color: white;
  font-size: 20px;
  font-family: serif;
  border: 2px solid white;
  border-width: thin;
  border-radius: 10px;
  border-spacing: 10px;
  text-decoration: none;
  float: left;
}

#btn1:hover{
  transition: all 2 ease-out;
    transform: scale(1.05);
    text-transform: none;
}

#btn2:hover{
  transition: all 2 ease-in;
    transform: scale(1.05);
    text-transform: none;
}


.navbar{
  margin-top: 0;
  padding-top: 0;
  color: black;
  border-bottom: : 2px solid #006655;
}
