
  <script src="/socket.io/socket.io.js"></script>
  <!-- ========================================================================================================================== -->
  <script type="text/javascript" async>
  var socket = io();

  function checkUnique1() {
    socket.emit('eCheck', {email: document.getElementsByName("email")[0].value});
    socket.on('eValidateMessage', function(obj) {
      if(obj.message == true)
      {
        document.getElementsByName("email")[0].style.borderColor = "#E34234";
        document.getElementById("emailExist").innerHTML = "Email already exists";
        document.getElementById("emailExist").style.color = "#E34234";
      }
    });
  }

  function checkUnique2() {
    socket.emit('uCheck', {username: document.getElementsByName("username")[0].value});
    socket.on('uValidateMessage', function(obj) {
      if(obj.message == true)
      {
        document.getElementsByName("username")[0].style.borderColor = "#E34234";
        document.getElementById("usernameExist").innerHTML = "Username already exists";
        document.getElementById("usernameExist").style.color = "#E34234";
      }
    });
  }

  </script>
  <!-- =========================================================================================================================== -->
  <script type="text/javascript" async>
  //   var password = document.getElementByName("password")
  // , confirmPassword = document.getElementByName("confirmPassword");

  function myFunction() {
    var password = document.getElementsByName("password")[0].value;
    var confirmPassword = document.getElementsByName("confirmPassword")[0].value;

    var ok = true;
    if (password != confirmPassword) {
        // alert("Passwords Do not match");
        document.getElementsByName("password")[0].style.borderColor = "#E34234";
        document.getElementsByName("password")[0].value="";
        document.getElementsByName("confirmPassword")[0].style.borderColor = "#E34234";
        document.getElementsByName("confirmPassword")[0].value="";
        document.getElementById("mismatch").innerHTML = "Password confirmation failure";
        document.getElementById("mismatch").style.color = "#E34234";
        ok = false;
    }
    return ok;
  }

  function fInvalid(obj) {
    obj.style.borderColor = "#E34234";
  }

  function fvalid() {
    document.getElementsByName("firstName")[0].style.borderColor = null;
    document.getElementsByName("lastName")[0].style.borderColor = null;
    document.getElementsByName("email")[0].style.borderColor = null;
    document.getElementsByName("username")[0].style.borderColor = null;
    ff();
  }

  function uValid() {
    document.getElementById("usernameExist").innerHTML = "";
  }

function ff() {
  document.getElementsByName("password")[0].style.borderColor = null;
  document.getElementsByName("confirmPassword")[0].style.borderColor = null;
  document.getElementById("mismatch").innerHTML = "";
  // document.getElementById("mismatch").style.color = null;
}

function eValidate() {
  document.getElementsByName("email")[0].style.borderColor = "#E34234";
  var _ = myFunction();
}

function emailRSet() {
  document.getElementsByName("email")[0].style.borderColor = null;
  document.getElementById("emailExist").innerHTML = "";
}
</script>

  <div class="container-fluid" id="home-section">
    <div class="row" id="overlay">
      <div class="col-sm-12">
        <div class="row" id="home-qoutes">
          <h1 class="display">Start to <strong>explore</strong> the world now</h1>
        </div>
        <div class="row" id="home-btn">
          <a href="#" id="btn1">About</a>
          <a href="#signup-innerId" id="btn2">Explore More</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Second navbar for sign in -->
  <nav class="navbar navbar-default navbar-sticky-top" id="navigate">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
   <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
 </button>
        <a class="navbar-brand" href="#home-section">Creators Space</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-2">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home-section">Home</a></li>
          <li><a href="#developerId">Contact us</a></li>
          <li><a href="#signup-innerId">Sign up</a></li>
          <li>
            <label id="signinBtn" class="btn btn-default btn-outline btn-circle" data-toggle="modal" data-target="#exampleModal" href="">Sign in</label>
          </li>
        </ul>
      </div>
      <!-- /.container -->
  </nav>
  <!-- /.navbar -->

 <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Creators Space</h3>
          <button type="button" class="close" id="closeBtn" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
        </div>
        <div id="login-form">
          <form class="navbar-form navbar-center form-inline" id="login-elem" align="center" role="form">
            <div class="form-group">
              <input type="email" class="form-control" id="Email" placeholder="Email" autofocus required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="Password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          <a href="./forgotPass" id="ForgotPass">Forgot Password?</a>

        </div>
        <div class="modal-footer">
          <span id="LoginErr">Text here</span>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="signup-inner" id="signup-innerId">
    <div class="container">
      <div class="row">
        <div class="col-sm-8" id="signup8">
          <h1 class="display-4">Creators Space provide you freedom to <strong>explore</strong> and break the boundaries between <strong>people</strong></h1>
          <div class="d-flex flex-row fixmarg">
            <div class="p-4">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4">
              Write Blog about your ideas, innovation and creativity
            </div>
          </div>
          <div class="d-flex flex-row fixmarg">
            <div class="p-4">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4">
              Simple, Robust and fast
            </div>
          </div>
          <div class="d-flex flex-row fixmarg">
            <div class="p-4">
              <i class="fa fa-check"></i>
            </div>
            <div class="p-4">
              24x7 Customer Support
            </div>
          </div>
        </div>
        <div class="col-sm-4">


          <h3 class="text-center"><strong>Sign up here</strong></h3>

          <p>
            <h4 class="text-center">Fill out this form to register</h4></p>

          <form action="/" onsubmit="return myFunction()" method="post" id="form-box">
            <div class="form-group">
              <input type="text" name="firstName" required oninvalid="fInvalid(this)" onclick="fvalid()" onkeypress="fvalid()" class="form-control form-control-lg" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" name="lastName" oninvalid="fInvalid(this)" onclick="fvalid()" onkeypress="fvalid()" class="form-control form-control-lg" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <input type="email" name="email" onclick="emailRSet();fvalid();" onkeypress="emailRSet();fvalid();" onfocusout="checkUnique1()" class="form-control form-control-lg" placeholder="Email" required oninvalid="eValidate()" title="email (format: xx@xx.xx/xx@xx.xx.xx)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
              <span id="emailExist"></span>
            </div>
            <div class="form-group">
              <input type="text" name="username" oninvalid="fInvalid(this)" onclick="fvalid();uValid();" onkeypress="fvalid();uValid();" onfocusout="checkUnique2()" class="form-control form-control-lg" placeholder="Username" required>
              <span id="usernameExist"></span>
            </div>
            <div class="form-group">
              <input type="password" name="password" oninvalid="fInvalid(this)" onclick="ff();fvalid();" onkeypress="ff();fvalid();" class="form-control form-control-lg" placeholder="Password" required minlength="6">
            </div>
            <div class="form-group">
              <input type="password" name="confirmPassword" oninvalid="fInvalid(this)" onclick="ff();fvalid();" onkeypress="ff();fvalid();" class="form-control form-control-lg" placeholder="Confirm Password" required minlength="6">
              <span id="mismatch"></span>
            </div>
            <div class="form-group">
              <button type="submit" id="submit-box" class="btn btn-primary btn-lg btn-block ">Submit</button>
            </div>
            <div class="form-group">
              <h5>Already a user? <a data-toggle="modal" data-target="#exampleModal" href="" id="alreadyUser">Login</a></h5>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <section class="developer" id="developerId">
    <h5 class="text-center"><b>OUR TEAM</b></h5>
    <h3 class="text-center" id="cc">MEET OUR <b>TEAM</b></h3>
    <p class="text-center contct">Here is the awesome team who made this site possible..please feel free contact us for any suggestions or queries</p>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="imageBox">
            <img src="public/img/IMG_0066v1.jpg" alt="ankitpic" class="img-responsive fiximg">
            <h3 class="text-center" id="imgh">Ankit Kumar Himansu</h3>
            <h4 class="text-center descript">
                           Hardcore fan of cartoon, always dream about food so goes with a name PANDA. He always pretends to be a guy with foreign identity and accidentaly born in India.
                      </h4>
            <ul class="mainnav">
              <li><a href="#" id="a1"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
              <li><a href="#" id="a2"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#" id="a3"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="imageBox">
            <img src="public/img/IMG_9987.JPG" alt="ankitpic" class="img-responsive fiximg">
            <h3 class="text-center" id="imgh">Shailendra Kumar Murmu</h3>
            <h4 class="text-center descript">
                          Loves korean movie, tatti jokes maarne waala and socializes in all circumstances and always try out new things(just kidding..i just sit and fap)
                      </h4>
            <ul class="mainnav">
              <li><a href="#" id="a1"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
              <li><a href="#" id="a2"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#" id="a3"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>

  {{> footer }}
