<link rel="stylesheet" href="./../style/portfoliotemp-style.css">
<!-- <link rel="stylesheet" href="./../style/footer-style.css"> -->

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>User Profile</h4>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="insinfblck1">
                        <img alt="User Pic" src="./../public/img/IMG_0066v1.jpg" id="profile-image1" class="img-responsive fiximg">

                    </div>
                </div>

                <div class=" col-sm-8 ">
                    <div class="container">
                        <h2>John Doe</h2>
                        <p style="display: inline;">an</p>
                        <p><b>Employee</b></p>
                    </div>
                    <hr class="hrwidth">
                    <ul class="container details">
                        <li>
                            <p><span class="fa fa-user-circle" aria-hidden="true" style="width:40px;"></span>Username</p>
                        </li>
                        <li>

                            <p><span class="fa fa-briefcase" style="width:40px;">
                      </span>Works at</p>
                        </li>
                        <li>
                            <p><span class="fa fa-envelope" style="width:40px;"></span>somerandom@email.com</p>
                        </li>
                        <li>
                            <p><span class="fa fa-phone" style="width:40px;">
                      </span>Phone number</p>
                        </li>
                        <li>
                            <p><span class="fa fa-home" style="width:40px;">
                      </span>Home</p>
                        </li>
                        <li>
                            <p><span class="fa fa-birthday-cake" style="width:40px;">
                      </span>Your Birthday</p>
                        </li>
                    </ul>
                    <hr>
                    <div class="col-sm-5 tital ">Date Of Joining:
                        <span>15 Jun 2016</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form action="/" id="get-data-form" method="post">
                <textarea class="tinymce fixmce" id="texteditor"></textarea>
                <div class="wrapper"> <input type="submit" class="btn btn-success btnfix" value="Submit"></div>

            </form>

        </div>
        <div class="col-sm-4">
            <div class="editprofile">
                <input type="submit" class="btn btn-success btnfix1 btn-block" value="Edit Your Profile">
                <p style="margin-top: 10px;"><span class="bold">Posts: </span>1,00,000</p>
                <p style="margin-top: 10px;"><span class="bold">Comments: </span>1,00,000</p>
                <p style="margin-top: 10px;"><span class="bold">Upvote: </span>1,00,000</p>
                <p style="margin-top: 10px;"><span class="bold">Downvote: </span>1,00,000</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" style="margin-top: 10px;">
            <div class="activity">
                <h4>Activities</h4>
                <hr>
            </div>
        </div>
    </div>
</div>

{{> footer }}
<script type="text/javascript" src="./../public/tinymce_4.7.4_dev/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="./../public/tinymce_4.7.4_dev/tinymce/js/init-tinymce.js"></script>
<script type="text/javascript" src="./../public/tinymce_4.7.4_dev/tinymce/js/tinymce/plugins/image/plugin.js"></script>
