<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog home page</title>
</head>
<body>
    <h1>Welcome</h1>
    <footer>
        Copyright &copy; 2017
    </footer>
</body>
</html>